*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background: url(img/blur2.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover; 
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
    width: 100%;
    background-color: rgb(50,50,50);
    z-index: 500;
    position: fixed;
}
.leftside__container{
    display: flex;
    flex-direction: row;
    
}
.menu{
    width: 50px;
    margin-left: 5px;
    cursor: pointer;
}
.logo{
    width: 50px;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 5px;
}
.logo-text{
    margin-top: 15px;
    color: white;
}

.search__bar{
    width: 450px;
    height: 30px;
    margin: 0;
    border-radius: 15px 0 0 15px;
    background-color: rgb(20,20,20);
    color: #aaa;
}
.search__btn{
    width: 55px;
    height: 30px;
    border-radius: 0 15px 15px 0;
    margin: 0;
    background-color: rgb(20,20,20);
    color: #aaa;
}
.search__btn:hover{
    cursor:pointer;
}

.user__btn{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: none;
}
.rigth__img{
    width: 50px;
    border-radius: 25px;
}

.sidebar__container{
    margin-top: 70px;
    display: none;
    flex-direction: column;
    width: 200px;
    height: 100%;
    position: fixed;
    z-index: 499;
    background-color: rgba(70,70,70,0.7);
    border-right: 2px solid black;
}
.sidebar__block{
    display: grid;
    grid-template-columns: 200px;
    height: 120px;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: row;
    row-gap: 0;
    margin-bottom: 35px;
}
.sidebar__container a{
    font-size: 13px;  
    text-align: center;
    color: black;
}
.sidebar__title{
    text-align: center;
    font-size: 24px;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}
.sidebar__container a:hover{
    cursor: pointer;
    text-decoration: underline 2px;
}
.drop__menu{
    margin-top: 70px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 10%;
    position: fixed;
    z-index: 499;
    background-color: rgba(70,70,70,0.7);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    left: initial; 
    right: 0; /* coloca la escalera a la derecha del contenedor */
}
.drop__menu a{
    font-size: 13px;  
    text-align: center;
    color: black;
}
.drop__menu a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.rigth__img:hover{
    cursor: pointer;
}

.titulo{
    display: inline-block;
    border: 3px solid black;
    border-radius: 25px;
}
.content{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: rgba(5,5,5, 0.7);
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-auto-flow: row;
    column-gap: 15px;
    row-gap: 15px;
}

.game__container{
    display: grid;
    grid-template-rows: 200px  50px ;
    width: 200px;
    padding-top: 25px;
}
.game__thumbnail{
    width: 150px;
    margin-left: 25px;
}
.game__name{
    text-align: center;
    line-height: 50px;
    color: #fff;
}
.game__container:hover{
    scale: 1.2;
    background: none;
    cursor: pointer;
}



.titulo{
   margin-top: 100px;
   text-align: center;
   font-size: 40px;
}